@charset "UTF-8";

/* variables */
:root {
  --primary-color: #000;
}
/* reset */
html {
  color-scheme: light;
  font-size: 1rem;
}
*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  border: none;
  outline: none;
}
img,
video,
picture,
svg {
  width: 100%;
  display: block;
}
body {
  color: black;
}
/* general */

/* layout */
