@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@400;600;700&display=swap");
/* variables */
:root {
  --snake-color: #ef6262;
  --cell-color: #c0eda6;
  --background-color: #f3aa60;
  --button-color: rgb(0, 136, 255);
  --normal-weight: 400;
  --bold-weight: 700;
}
/* reset */
html {
  color-scheme: light;
  font-size: 1rem;
}
*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
}
img,
video,
picture,
svg {
  width: 100%;
  display: block;
}
body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}
/* general */

/* layout */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
}
.result {
  display: flex;
  height: 7rem;
  width: 37.5rem;
  align-items: center;
  gap: 1.5rem;
}
.apple-logo {
  width: 4rem;
}
.score {
  padding-top: 1rem;
  font-size: 4.5rem;
}

.ground {
  display: grid;
  width: 37.5rem;
  height: 45.75rem;
  grid-template-columns: repeat(6, 1fr);
}
.cell {
  border-radius: 0.6rem;
  background-color: var(--cell-color);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.snake-body,
.snake-head {
  background-color: var(--snake-color);
}

/* snake head  */
.snake-head {
  position: relative;
}
.snake-head::before,
.snake-head::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  background-color: white;
  background-image: linear-gradient(white 60%, black 40%);
}
.snake-head::before {
  top: 2.5rem;
  left: 1.5rem;
}
.snake-head::after {
  top: 2.5rem;
  right: 1.5rem;
}

/* apple */
.apple-on {
  background-position: center;
  background-size: 72%;
  background-repeat: no-repeat;
  background-image: url("../img/apple-logo.png");
}

/* playing state */
.playing .dark-overlay {
  display: none;
}

/* start playing and playing again states */
.start-playing .dark-overlay,
.playing-again .dark-overlay {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000a7;
}
.start-playing .play.btn,
.playing-again .play-again.btn,
.playing-again .dark-overlay .result {
  z-index: 2;
  border-radius: 1rem;
  font-size: 3rem;
  width: 37.5rem;
  height: 8rem;
}
.playing-again .dark-overlay .result {
  background-color: var(--snake-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.start-playing .play.btn,
.playing-again .play-again.btn {
  background-color: var(--button-color);
  cursor: pointer;
}

.start-playing .dark-overlay .result {
  display: none;
}
.playing-again .play.btn {
  display: none;
}
.start-playing .play-again.btn {
  display: none;
}

/* directions for snake head */
.top-d {
  transform: rotate(180deg);
}
.right-d::after,
.right-d::before {
  transform: rotate(270deg);
}
.right-d::before {
  top: 3rem;
  left: 3.7rem;
}
.right-d::after {
  top: 1rem;
  right: 1.5rem;
}
.bottom-d {
  transform: rotate(360deg);
}
.left-d::after,
.left-d::before {
  transform: rotate(90deg);
}
.left-d::before {
  top: 3rem;
  left: 1.5rem;
}
.left-d::after {
  top: 1rem;
  right: 3.7rem;
}

@media screen and (max-width: 41em) {
  .result {
    width: 27.5rem;
  }
  .ground {
    width: 27.5rem;
    height: 35.75rem;
  }
  .snake-head::before {
    top: 1.5rem;
    left: 1rem;
  }
  .snake-head::after {
    top: 1.5rem;
    right: 1rem;
  }

  .start-playing .play.btn,
  .playing-again .play-again.btn,
  .playing-again .dark-overlay .result {
    width: 27.5rem;
    height: 8rem;
  }

  .right-d::before {
    top: 2rem;
    left: 2rem;
  }
  .right-d::after {
    top: 0.5rem;
    right: 1.5rem;
  }
  .left-d::before {
    top: 0.5rem;
    left: 1.5rem;
  }
  .left-d::after {
    top: 2rem;
    right: 2rem;
  }
}
@media screen and (max-width: 28em) {
  .result {
    width: 22.5rem;
  }
  .ground {
    width: 22.5rem;
    height: 30.75rem;
  }
  .snake-head::before {
    top: 1.2rem;
    left: 0.5rem;
  }
  .snake-head::after {
    top: 1.2rem;
    right: 0.5rem;
  }

  .start-playing .play.btn,
  .playing-again .play-again.btn,
  .playing-again .dark-overlay .result {
    width: 22.5rem;
    height: 8rem;
  }
  .right-d::before {
    top: 1.8rem;
    left: 1.5rem;
  }
  .right-d::after {
    top: 0.3rem;
    right: 1.2rem;
  }
  .left-d::before {
    top: 0.3rem;
    left: 1.2rem;
  }
  .left-d::after {
    top: 1.8rem;
    right: 1.5rem;
  }
}
